{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Simple Django-Web">
	<meta name="author" content="EspiFreelancer">

	<title>{% block title %}Block Empresa{% endblock title %}</title>

	<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" />

	<!-- Bootstrap -->
	<link href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

	<link href="{% static '/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>



<body>

	{% block header %}
	<!-- Header -->
	<h1 class="site-heading text-center text-white d-none d-lg-block">
		<span class="site-heading-lower">Gestión de Pedidos</span>
	</h1>
	{% endblock header %}


	{% block navbar %}
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
		<div class="container">
			<a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="home.html">Gestión de Pedidos</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav mx-auto">
					<li class="nav-item px-lg-4 {% if request.path == '/' %}active{% endif %}">
						<a class="nav-link text-uppercase text-expanded" href="{% url 'web:index' %}">Inicio</a>
					</li>
					<li class="nav-item px-lg-4 {% if request.path == '/servicios/' %}active{% endif %}">
						<a class="nav-link text-uppercase text-expanded" href="{% url 'services:servicios' %}">Servicios</a>
					</li>
					<li class="nav-item px-lg-4 {% if request.path == '/tienda/' %}active{% endif %}">
						<a class="nav-link text-uppercase text-expanded" href="{% url 'web:tienda' %}">Tienda</a>
					</li>
					<li class="nav-item px-lg-4 {% if request.path == '/contacto/' %}active{% endif %}">
						<a class="nav-link text-uppercase text-expanded" href="{% url 'web:contacto' %}">Contacto</a>
					</li>
					<li class="nav-item px-lg-4 {% if request.path|slice:":6" == '/blog/' %}active{% endif %}">
						<a class="nav-link text-uppercase text-expanded" href="{% url 'blog:blog' %}">Blog</a>
					</li>

				</ul>
			</div>
		</div>
	</nav>
	{% endblock navbar %}



	{% block content %}
	<!-- Content -->
	{% endblock content %}


	{% block footer %}

	<!-- Footer -->
	<footer class="footer text-faded text-center py-5">
		<!-- Social networks -->
	    <div class="container">
			<p class="m-0">
			    {% if LINK_FACEBOOK %}
			    <a href="{{LINK_FACEBOOK}}" class="link">
			        <span class="fa-stack fa-lg">
			        <i class="fa fa-circle fa-stack-2x"></i>
			        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
			        </span>
			    </a>
			    {% endif %}
			    {% if LINK_INSTAGRAM %}
			    <a href="{{LINK_INSTAGRAM}}" class="link">
			        <span class="fa-stack fa-lg">
			        <i class="fa fa-circle fa-stack-2x"></i>
			        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
			        </span>
			    </a>
			    {% endif %}
			    {% if LINK_TWITTER %}
			    <a href="{{LINK_TWITTER}}" class="link">
			        <span class="fa-stack fa-lg">
			        <i class="fa fa-circle fa-stack-2x"></i>
			        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
			        </span>
			    </a>
			    {% endif %}
			</p>
	    </div>
	    <div class="container">
			<p class="m-0 mbt">
				<a href="sample.html" class="link">Política de privacidad</a> ·
				<a href="sample.html" class="link">Aviso legal</a> ·
				<a href="sample.html" class="link">Cookies</a>
			</p>
			<p class="m-0 mbt1">&copy; Gestión de Pedidos 2021</p>
		</div>
	</footer>

	{% endblock footer %}

	<!-- Bootstrap -->
	{# <script src="/vendor/jquery/jquery.min.js"></script> #}
	<script src="{% static '/vendor/jquery/jquery.min.js' %}"></script>
	{# <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> #}
	<script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


</body>


</html>