{% extends 'base/base.html' %}
{% block title %}Blog{% endblock %}


{% block content %}

{% load static %}

	<!-- Message -->

	<section class="page-section cta">
		<div class="container">
			<div class="row">

				{% if object_list %}

				{% for post in object_list %}

				<section class="page-section clearfix">
					<div class="container">
						<div class="intro">
							<div class="cta-inner text-center rounded">
								{% if  post.image %}
								<img class="img-fluid mb-3 mb-lg-0 rounded" src="{{ post.image.url }}" alt="{{ post.title }}">
								{% endif %}
								<h2 class="section-heading mb-4" >
									<span class="section-heading-upper">{{ post.published|date:"SHORT_DATE_FORMAT"}}</span>
									<span class="section-heading-lower">{{ post.title }}</span>
									<span class="mb-0">{{ post.subtitle }}</span>
								</h2>
								<p>
									<span class="section-heading-under">
										Autor: <em><b>{{ post.author|title }}</b></em>
										Categoria:
										<em>
											{% for category in post.categories.all %}
												{% if not forloop.first %}
													{% if forloop.last %}
														<a href="{% url 'blog:category' category.id %}" class="link">
														y {{ category.name }}
														</a>
													{% else %}
														<a href="{% url 'blog:category' category.id %}" class="link">
														, {{ category.name }}
														</a>
													{% endif %}
												{% else %} 
													<a href="{% url 'blog:category' category.id %}" class="link">
													{{ category.name }}
													</a>
												{% endif %}
											{% endfor %}
										</em>
									</span>
								</p>
							</div>
						</div>
					</div>
				</section>

				{% endfor %}

				{% endif %}

			</div>
		</div>
	</section>

{% endblock content %}