{% extends 'base/base.html' %}
{% block title %}Tienda{% endblock %}


{% block content %}

{% load static %}

	<!-- Message -->
	<section class="page-section cta">
		<div class="container">
			<div class="row">
				<div class="col-xl-9 mx-auto">
					<div class="cta-inner text-center rounded">
						<h2 class="section-heading mb-4">
							<span class="section-heading-upper">Contacta con nosotros</span>
						</h2>
						<p class="mb-0">Articulos de nuestra tienda.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock content %}