{% extends 'base/base.html' %}
{% block title %}Servicios{% endblock %}


{% block content %}

{% load static %}

	<!-- Message -->
	<section class="page-section cta">
		<div class="container">
			<div class="row">

				{% if object_list %}

				{% for service in object_list %}


				<section class="page-section clearfix">
					<div class="container">
						<div class="intro">
							<img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{ service.image.url }}" alt="{{ service.title }}">
							<div class="intro-text left-0 text-center bg-faded p-5 rounded">
								<h2 class="section-heading mb-4" >
									<span class="section-heading-lower">{{ service.title }}</span>
									<span class="section-heading-upper">{{ service.content }}</span>
								</h2>
							</div>
						</div>
					</div>
				</section>


				{% endfor %}
					
				{% endif %}

			</div>
		</div>
	</section>

{% endblock content %}